<main role="main" class="container">

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h2 class="name border-bottom border-gray pb-2 mb-0">{{info.name | uppercase}}</h2>
        <img data-src={{info.sprites.front_default}} alt="">
        <img data-src={{info.sprites.front_shiny}} alt="">
        <div class="info-user col-sm">

            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Types</strong>
            </p>
            <div class="text-center column types card-body bg-dark" *ngFor="let type of info.types">
                <a class="teste">{{type.type.name | uppercase}}</a>
            </div>
        </div>
        <div class="info-user col-sm">

        </div>
    </div>