  .card{
      align-items: center;
      border-radius: 15%;
      border-color: rgb(243, 243, 243);
      border-width: 3px;
  }

  .row{
      margin-top: 10px;
  }

  .card-header{
    width: 100%;
  }
