<div class="wrapper">
    <div *ngFor="let pokemon of pokemons" class="col-sm-6 col-xs-12">
        <a [routerLink]="['/pokeinfo', pokemon.name]">
            <div class="test">
                <div class="box-header with-border">
                    <div class="user-block">
                        <img alt="User Image" class="img-circle" src="assets/pokebola.png">
                    </div>
                </div>
                <div class="box-body">
                    <p>{{pokemon.name | uppercase}}</p>
                </div>
            </div>
        </a>
    </div>
</div>